<div id="slaw-disclaimer" class="notice notice-yellow">
    ⚠ The information here may be out-of-date. If you find any discrepancy with CIMS, please <a
        href="mailto:doverslaw@gapps.uwcsea.edu.sg?subject=SLAW%20-%20Incorrect%20information&body=Page%3A%20<%- url %>%0D%0A%0D%0ADetails%3A%0D%0A%3Ctell%20us%20what%20is%20incorrect%3E">email
        us</a>.
</div>
