<div id="slaw-notice">
    <div class="notice notice-blue">
        Get personalised recommendations with <a href="//discover.slawuwc.org">SLAW Discover</a>.
    </div>
    <div class="notice notice-green">
        Are you an activity leader? Read our <a href="/slaw-help/slaw-activity-leaders-guide">Activity Leaders'
            Guide</a> to get started!
    </div>
    <div class="notice notice-gray">
        Want to learn about the SLAW Black Magic? <a href="/activities/slaw-insiders">Sign up today!</a>
    </div>
</div>
