iframe {
    border: 0;
    width: 100%;
}

.social-icons img {
    width: auto !important;
    height: 1.5em !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 0.25em !important;
    border: 0 !important;
}