// Fonts
//------------------------------------------------------------------------------
// Font declaration

@font-face {
    font-family: "Bliss Pro";
    src: url("https://www.uwc.org/_site/fonts/Bliss2-Bold.eot");
    src: url("https://www.uwc.org/_site/fonts/Bliss2-Bold.eot?#iefix") format("embedded-opentype"), url("https://www.uwc.org/_site/fonts/Bliss2-Bold.woff") format("woff"),
        url("https://www.uwc.org/_site/fonts/Bliss2-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("https://www.uwc.org/_site/fonts/Bliss2-BoldItalic.eot");
    src: url("https://www.uwc.org/_site/fonts/Bliss2-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://www.uwc.org/_site/fonts/Bliss2-BoldItalic.woff") format("woff"),
        url("https://www.uwc.org/_site/fonts/Bliss2-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("https://www.uwc.org/_site/fonts/Bliss2-LightItalic.eot");
    src: url("https://www.uwc.org/_site/fonts/Bliss2-LightItalic.eot?#iefix") format("embedded-opentype"), url("https://www.uwc.org/_site/fonts/Bliss2-LightItalic.woff") format("woff"),
        url("https://www.uwc.org/_site/fonts/Bliss2-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("https://www.uwc.org/_site/fonts/Bliss2-Italic.eot");
    src: url("https://www.uwc.org/_site/fonts/Bliss2-Italic.eot?#iefix") format("embedded-opentype"), url("https://www.uwc.org/_site/fonts/Bliss2-Italic.woff") format("woff"),
        url("https://www.uwc.org/_site/fonts/Bliss2-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("https://www.uwc.org/_site/fonts/Bliss2-Light.eot");
    src: url("https://www.uwc.org/_site/fonts/Bliss2-Light.eot?#iefix") format("embedded-opentype"), url("https://www.uwc.org/_site/fonts/Bliss2-Light.woff") format("woff"),
        url("https://www.uwc.org/_site/fonts/Bliss2-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("https://www.uwc.org/_site/fonts/Bliss2.eot");
    src: url("https://www.uwc.org/_site/fonts/Bliss2.eot?#iefix") format("embedded-opentype"), url("https://www.uwc.org/_site/fonts/Bliss2.woff") format("woff"),
        url("https://www.uwc.org/_site/fonts/Bliss2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$font-branding: "Bliss Pro", sans-serif;
$font-headline: $font-branding;
$font-sans: $font-branding;

// Colors
//------------------------------------------------------------------------------
// Default Light Theme
$masthead-background: $gray-10;
$main-homepage-background: $white;
$main-homepage-icon-color: $black;
$main-homepage-icon-border: $black;
$main-page-text-color: $gray-35;
$main-page-btn-color: $gray-45;
$search-container-background: #e6e2e2;
$search-container-hover: $gray-70;
$btn-homepage-background: $white;
$btn-homepage-border: $black;
$btn-default-background: $white;
$btn-default-background-hover: $accent;
$btn-default-border: $black;
$btn-default-text-color: $black;
$btn-default-text-hover: $black;
$btn-user-initial: $gray-50;
$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$nav-text-color: $gray-40;
