// Fonts
//------------------------------------------------------------------------------
// Font declaration

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-Bold.woff2") format("woff2"), url("/assets/fonts/BlissPro-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-ExtraBold.woff2") format("woff2"), url("/assets/fonts/BlissPro-ExtraBold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-BoldItalic.woff2") format("woff2"), url("/assets/fonts/BlissPro-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-ExtraBoldItalic.woff2") format("woff2"), url("/assets/fonts/BlissPro-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-ExtraLight.woff2") format("woff2"), url("/assets/fonts/BlissPro-ExtraLight.woff") format("woff");
    font-weight: 200;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-ExtraLightItalic.woff2") format("woff2"), url("/assets/fonts/BlissPro-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-Heavy.woff2") format("woff2"), url("/assets/fonts/BlissPro-Heavy.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-HeavyItalic.woff2") format("woff2"), url("/assets/fonts/BlissPro-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-Italic.woff2") format("woff2"), url("/assets/fonts/BlissPro-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-Light.woff2") format("woff2"), url("/assets/fonts/BlissPro-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-LightItalic.woff2") format("woff2"), url("/assets/fonts/BlissPro-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-Medium.woff2") format("woff2"), url("/assets/fonts/BlissPro-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro-MediumItalic.woff2") format("woff2"), url("/assets/fonts/BlissPro-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Bliss Pro";
    src: url("/assets/fonts/BlissPro.woff2") format("woff2"), url("/assets/fonts/BlissPro.woff") format("woff");
    font-weight: normal;
}

$font-branding: "Bliss Pro", sans-serif;
$font-headline: $font-branding;
$font-sans: $font-branding;

// Colors
//------------------------------------------------------------------------------
// Default Light Theme
$masthead-background: $gray-10;
$main-homepage-background: $white;
$main-homepage-icon-color: $black;
$main-homepage-icon-border: $black;
$main-page-text-color: $gray-35;
$main-page-btn-color: $gray-45;
$search-container-background: #e6e2e2;
$search-container-hover: $gray-70;
$btn-homepage-background: $white;
$btn-homepage-border: $black;
$btn-default-background: $white;
$btn-default-background-hover: $accent;
$btn-default-border: $black;
$btn-default-text-color: $black;
$btn-default-text-hover: $black;
$btn-user-initial: $gray-50;
$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$nav-text-color: $gray-40;
